* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

:root {
  --main-color: #D62E33;
  --second-color: rgba(206, 39, 45, 0.378);
  --text-color: #fff;
}

.text-color {
  color: var(--main-color);
}

section {
  background-color: var(--second-color);
}

/* & first section */
header {
  min-height: 100vh;
  background-image: linear-gradient(to right, #c71b219b, #c71b219b),
    url(../img/bckg.jpg);
  background-position: center;
  background-size: cover;
}

header div h2 {
  color: var(--text-color);
  font-size: 90px;
  line-height: 72px;
  font-weight: 500;
}
header div p {
  color: var(--text-color);
  font-size: 30px;
}

header div.menu {
  height: 100%;
  width: 0;
  background-color: #D62E33;
  overflow: hidden;
}

header div.menu a,
header div.menu i {
  color: white;
  transition: color 400ms;
}

header div.menu a:hover,
header div.menu i:hover {
  color: var(--main-color);
  transition: all 400ms;
}

/* & second section  */
#singers{
  background-color: #fdfbf8;
}

.actor div.open {
  background-color: var(--second-color);
  transition: background-color 400ms;
  position: fixed;
}

.actor div.open:hover {
  background-color: var(--second-color);
}

.actor div.open-tab {
  border: 1px solid var(--second-color);
  font-weight: 700;
}

div.tab {
  background-color: var(--second-color);
  display: none;
}

.singer div.tab.special {
  display: block;
}

.duration{
  background-color: #e68285;
}
/* & count down section  */
#count-down {
  background-image: linear-gradient(rgba(0, 0, 0, 0.418) 0% 40%),
    url(../img/bckg.jpg);
  background-position: center;
  background-attachment: fixed;
}

.count {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  width: 180px;
  height: 150px;
  border: 1px solid var(--second-color);
}

.count span {
  font-weight: 900;
  font-size: 30px;
}

/* & contact section */


.social {
  width: 40px;
  height: 40px;
  margin-inline: 10px;
  border: 1px solid var(--second-color);
  transition: background-color 400ms;
}

.social:hover {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
}

.social:hover i {
  color: var(--second-color);
}

button.btn {
  color: var(--main-color);
  transition: background-color 400ms;
  border: 1px solid var(--second-color);
}

button.btn:hover {
  color: var(--text-color);
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
}
